
#hero-header {
    position: relative;
}

#hero-header h1:last-of-type {
    margin-bottom: .5rem;
}

#hero-header p {
    margin-bottom: 1.5rem;
}

.hero__content {
    position: relative;
}

theme-button::part(theme-button) {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}

.hero__cta {
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

.hero__cta button {
    width: 100%;
}

.hero__illustration img {
    width: 100%;
}

.hero__decoration {
    position: absolute;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: red;
}

#hero-header > div:nth-last-of-type(2) {
    bottom: -5rem;
    left: 1rem;

}

#hero-header > div:last-of-type {
    bottom: -3rem;
    right: 35%;
    transform: translateY(175%);
}

section {
    margin-bottom: 13.5rem;
}





@media screen and (min-width: 1050px) {
    #hero-header {
        display: flex;
        gap: 8rem;
        align-items: center;
        margin-top: 12rem;
        justify-content: center;

    }

    #hero-header h1 {
        font-size: 3rem;
    }


    .hero__content {
        max-width: 480px;
    }

    .hero__cta {
        flex-direction: row;
        gap: 1rem;
    }

    .hero__cta a {
        flex-basis: 50%;
    }


    .desktop--hero-full-page {
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    .scroll-arrow {
        width: min-content;
        margin-left: auto;
        margin-right: auto;
        transition: opacity .3s ease-out;
    }

    .scroll-arrow path {
        animation: bouncyArrow 2s linear forwards infinite;
        animation-delay: 800ms;
        stroke: var(--content)
    }
}

@keyframes bouncyArrow {
    10% {
        transform: scaleY(130%);

    }
    20% {
        transform: scaleY(120%);
    }


}
