
#hero-header {
    position: relative;
    padding-top: 5rem;
    margin-bottom: 0;
}

.hero-main {
    height: 80vh;
}

.hero__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    align-items: center;
    position: relative;
}

.content__main--sub {
    max-width: 278px;
    margin: 0 auto;
}


.hero-cta {
    width: 288px;
    margin-top: 3rem;
}

.hero-cta button {
    width: 100%;
    background-color: var(--content);
    color: var(--background-main);
    outline: none;
    border: none;
    padding: .75rem 1rem;
    border-radius: var(--rounded);
    font-weight: bold;
    cursor: pointer;
}


.content__main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}


.hero-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.yanis-illustration {
    width: 80px;
    height: 80px;
    background-color: rgba(104, 128, 255, 0.1);
    border-radius: 50%;
    margin: 0 auto;
}

.yanis-illustration img {
    width: 100%;
}

.content__main--big {
    font-size: 1.5rem;
    font-family: "Gilroy", serif;
}

.content__main span {
    color: var(--primary-color);
}


theme-button::part(theme-button) {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}


section {
    margin-bottom: 13.5rem;
}

.scroll-arrow {
        margin-left: auto;
        margin-right: auto;
        transition: opacity .3s ease-out;
        position: relative;
        width: 60px;
        height: 60px;
    }

.scroll-arrow .circular-text {
    position: absolute;
    inset: 0;
    margin: 0 auto;
    animation: infiniteRotate 4s infinite linear;

}

.circular-text path {
    fill: var(--content);
}

.scroll-arrow .arrow {
    margin-bottom: 1px;
    position: absolute;
    inset: 0;
    margin: 0 auto;
    transform: translateY(45%);
}

.scroll-arrow .arrow path {
    animation: bouncyArrow 2s linear forwards infinite;
    animation-delay: 800ms;
    stroke: var(--content);
}
    


@media screen and (min-width: 1050px) {
    #hero-header {
        padding-top: 8rem;
       
    }



    .hero__content {
        max-width: 570px;
        margin: 0 auto;
    }

    .hero__content p {
        font-size: 1.5rem;
    }

    .hero__content .content__main--big {
        font-size: 2.5rem;
    }

    .content__main--sub {
        max-width: 350px;
    }

    .content__main {
        gap: 2rem;
        margin-bottom: 3.5rem;
    }

    .hero-cta {
        margin-top:  4.5rem;
    }

    .desktop--hero-full-page {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    .scroll-arrow {
        flex-shrink: 0;
        margin-bottom: 2rem;
    }

}

@media screen and (min-width: 1050px) and (max-height: 900px) {

    .desktop--hero-full-page {
        min-height: 650px;
    }
    
    #hero-header {
        padding-top: 4rem;
        height: 100%;
    }

    .hero-main {

        flex-shrink: 0;
    }

    .hero__content {
        max-width: 410px;
        height: 100%;
        justify-content: space-between;
        gap: 1rem;
    }

    .content__main {
        gap: 1rem;
        font-size: 1rem;
        margin-bottom: 0;
    }

    .hero__content .content__main--big {
        font-size: 2em;
    }

    .hero__content p {
        font-size: 1.5rem;
    }

    .hero-cta {
        margin-top: 0;
    }
 
}

@keyframes bouncyArrow {
    10% {
        transform: scaleY(125%);

    }
    20% {
        transform: scaleY(120%);
    }

}

@keyframes infiniteRotate {

    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}
