.scroll-arrow {
    margin-left: auto;
    margin-right: auto;
    transition: opacity .3s ease-out;
    position: relative;
    width: 60px;
    height: 60px;
}

.scroll-arrow .circular-text {
position: absolute;
inset: 0;
margin: 0 auto;
animation: infiniteRotate 4s infinite linear;

}

.circular-text path {
fill: var(--content);
}

.scroll-arrow .arrow {
margin-bottom: 1px;
position: absolute;
inset: 0;
margin: 0 auto;
transform: translateY(45%);
}

.scroll-arrow .arrow path {
animation: bouncyArrow 2s linear forwards infinite;
animation-delay: 800ms;
stroke: var(--content);
}

@media screen and (min-width: 1050px) and (max-height: 900px)  {

    .scroll-arrow {
        flex-shrink: 0;
        margin-bottom: 2rem;
    }
}