
[data-theme="dark"] {
    --welcome-bg: #fdfdfd
}

[data-theme= "light"] {
    --welcome-bg: rgb(18, 18, 18);
}

.text-reveal {
    font-family: "Gilroy";
    font-size: 3.5rem;
    color: var(--background-main);
    line-height:  1;

    overflow: hidden;
}


.pre-hero {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh !important;
    display: grid;
    place-items: center;
    z-index: 1000;
    background-color: var(--welcome-bg);
   
    
    animation: slideToLanding 800ms cubic-bezier(0.8, 0, 0.4, 1) forwards;
    animation-delay: 2000ms;
}


@media screen and (min-width: 1050px) {
    .text-reveal {
        font-size: 8rem;
    }
}


@keyframes slideToLanding {
    to {
        transform: translateY(-100%);
    }
}