button {
    background-color: var(--content);
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .2s ease-out;
    padding: 0;
    position: relative;
}

button:hover {
    background-color: var(--secondary-content);
}

button:focus-visible {
    outline:auto;
    outline-color: rgb(0, 95, 204);
    
}

svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}


svg path {
    fill: var(--background-main);
    width: 16px;
    height: 16px;
}