:host {
    width: 100%;
    grid-column: span 2;
}

.social-link {
    display: grid;
    place-items: center;
    border-radius: var(--rounded);
    position: relative;
    height: 100%;
}

.social-link::after {
    content: "";
    background-image: url("../../assets/LeftArrow.svg");
    background-color: rgba(0,0,0, 0.2);
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    transform: translateY(calc(12px - 30%)) translateX(calc(12px + 0.5rem));
    border-radius: var(--rounded);
}

::slotted(img) {
    width: 24px;
    height: 24px;
}

.social-link--github {
    background-color: var(--background-secondary);
}

.social-link--linkedin {
    background-color: #0A66C2;
}

.social-link--linkedin:focus-visible {
    outline-color: var(--content);

}

@media screen and (min-width: 1050px) {
    ::slotted(img) {
        width: 32px;
        height: 32px;
    }


.social-link::after {

    transform: translateY(calc(16px - 30%)) translateX(calc(16px + 0.5rem));

}
}