:host {
    width: 100%;
}

.social-link {
    display: grid;
    place-items: center;
    padding: 1rem 0;
    border-radius: var(--rounded);
    position: relative;

}

.social-link::after {
    content: "";
    background-image: url("../../assets/LeftArrow.svg");
    background-color: rgba(0,0,0, 0.2);
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;

    position: absolute;
    transform: translateY(calc(32px - 50%)) translateX(calc(32px + 50% + 0.25rem));
    border-radius: var(--rounded);

}



.social-link--github {
    background-color: var(--background-secondary);
}

.social-link--linkedin {
    background-color: #0A66C2;
}