#about {
    margin-top: 13.5rem;
}

#about h1, #about p {
    margin-bottom: 1.5rem;
    width: 100%;
}

.about__localisation {
    margin-bottom: 1rem;
}

#google_map {
    max-width: 340px;
    height: 170px;
    margin-bottom: 1rem;
    border-radius: var(--rounded);
}

.gmnoprint, .gm-style-cc {
    display: none;
}

@media screen and (min-width: 1050px) {
    #about {
        max-width: 980px;
        display: flex;
        gap: 4rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 23.75rem;
    }

    #about h1 {
        font-size: 4rem;
    }

    .about__text {
        max-width: 450px;
    }

    #google_map {
        min-width: 500px;
        height: 245px;
    }
}