.tag-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin-bottom: 1.5rem;
}

.tag {
    position: relative;
    color: var(--primary-color);
    list-style: none;
    font-weight: bold;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
}

.tag::before {
    content: "";
    background-color: var(--primary-color);
    opacity: 0.1;
    position: absolute;
    inset: 0;
    border-radius: var(--rounded);
}


@media screen and (min-width: 1280px) {
    .tag {
        font-size: 1rem;
        padding: 0.25rem 0.75rem
    }
}
