:host {
    position: relative;
    z-index: 10;
}

ul {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(2px);
}

.wrapper h1 {
    transition: opacity .15s ease-out;
}


.wrapper--theme-change {
    animation: fadeInHeader .3s ease-out forwards;
    opacity: 0;
    animation-delay: .3s;
}

.header__logo {
    font-family: "Clash-Display-Variable", serif;
    font-size: 1.5rem;
    font-weight: 600;
}


.wrapper__hamburger {
    opacity: 1;
}


.hamburger-menu__nav .wrapper__navs {
    display: block;
    margin-left: 3rem;
    margin-top: 11rem;
    width: min-content;
    font-weight: bold;
    font-size: 2rem;
}

.hamburger-menu__nav .navs__list {
    flex-direction: column;
    gap: 2rem;
}

.wrapper__hamburger-menu--open {
    transform: translateX(0%);
}

.custom-header__hamburger-menu__cross-icon {
    margin-top: 1rem;
    margin-left: 3rem;
}

.custom-header__hamburger-menu__cross-icon svg {
    fill: var(--content)
}


.wrapper__navs {
    display: none;
    width: 25%;
}

.navs__list {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--content);
}

svg path {
    stroke: var(--content);
}


@media screen and (min-width: 1050px) {
    .wrapper {
        position: fixed;
        max-width: 1200px;
        padding: 0 4rem;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 0
    }

    .wrapper__navs {
        display: block;
    }

    .wrapper__hamburger {
        display: none;
    }

    .wrapper__hamburger-menu {
        display: none;
    }

    .wrapper__hamburger-menu--open {
        transform: translateX(100%);
        transition: none;
    }
}


@keyframes fadeInHeader {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




