.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgba(253, 253, 253, 0.6), rgba(253, 253, 253, 0.4) 100%);
    z-index: 100;
}

.header__logo {
    font-family: "Clash Display Variable";
    font-size: 1.5rem;
    font-weight: 600;
}
.wrapper__hamburger {
    z-index: 2;
}

.wrapper__hamburger-menu {
    position: absolute;
    inset: 0;
    transform: translateX(100%);
    z-index: 1;
    background-color: var(--background-secondary);
    transition: transform 0.3s;
    transition-timing-function: ease-out;
}

.wrapper__hamburger-menu .wrapper__navs {
    display: block;
    margin-left: 2rem;
    margin-top: 11rem;
    width: min-content;
    font-weight: bold;
    font-size: 2rem;
}

.wrapper__hamburger-menu .navs__list {
    flex-direction: column;
    gap: 2rem;
}

.wrapper__hamburger-menu--open {
    transform: translateX(0%);
}


.wrapper__navs {
    display: none;
    width: 25%;
}

.navs__list {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--content);
}

@media screen and (min-width: 1050px) {
    .wrapper {
        position: fixed;
        max-width: 1008px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .wrapper__navs {
        display: block;
    }

    .wrapper__hamburger {
        display: none;
    }

    .wrapper__hamburger-menu {
        display: none;
    }

    .wrapper__hamburger-menu--open {
        transform: translateX(100%);
        transition: none;
    }
}

